table {
    margin-top: 40px;
    text-align: center;
}

table, th, td {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

th, td {
    width: 100px;
    min-height: 26px;
    word-wrap: anywhere;
}

tr {
    cursor: pointer;
}